<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>edit student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <!-- <%= query %>
    <br>==========================<br>
    <%= query2 %> -->
    <div class="container">
      <h3>STUDENT ADD SUBJECT FORM</h3>
      <form action="/students/<%= query.id %>/addsubject" method="post" class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2">First Name :</label>
          <div class="col-sm-10">
            <p class="form-control-static"><input value="<%= query.first_name %>" type="text" name="firstname" readonly="" style="background-color:#dcdce2"/></p>
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-2">Last Name :</label>
          <div class="col-sm-10">
            <p class="form-control-static"><input value="<%= query.last_name %>" type="text" name="lastname" readonly="" style="background-color:#dcdce2"/></p>
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-2">Email :</label>
          <div class="col-sm-10">
            <p class="form-control-static"><input value="<%= query.email %>" type="text" name="email" readonly="" style="background-color:#dcdce2"/></p>
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-2">Choose Subject :</label>
          <div class="col-sm-10">
            <select name="subject" class="control-label col-sm-2 btn btn-primary btn-select btn-select-light">
            <% query2.forEach(d2 => { %>
              <option value="<%= d2.id %>"><%= d2.subject_name %></option>
            <% }) %>
            </select>
            
            <!-- <% if (query.SubjectId == undefined) { %> 
              <option value="">unassigned</option><br>        
              <% query2.forEach(d2 => { %> 
              <option value="<%= d2.id %>"><%= d2.subject_name %></option>
              <% }) %>
            <% } else { %>
              <option selected="<%= query.SubjectId %>"><%= query.Subject.subject_name %></option>
              <% query2.forEach(d2 => { %>
              <option value="<%= d2.id %>"><%= d2.subject_name %></option>
              <% }) %>
            <% } %> 
            </select> -->
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label col-sm-2"></label>
          <div class="col-sm-10">
            <input type="submit" class="btn btn-success" value="Edit Student" /> 
          </div>
        </div>
    </div>
  </body>
</html>