<!DOCTYPE html>
<html>
  <head>
    <title>encrolled student</title>
    <%- include layout/link_head %>
  </head>
  <body>
    <!-- <%= JSON.stringify(query) %> -->
    <!-- <p>============</p> -->
    <%- include layout/header %>    
    
    <h2 align="center"><%= query[0].Subject.subject_name %></H2>
    <h5 align="center"><button class="btn btn-success" id="hyper" type="button" onclick="location.href='/subjects'">Return to Subject List</button></h5>
    <p></p>
    <table class="table table-hover">
      <tr>
        <th>No.</th>
        <th>Student Name</th>
        <th>Score By Number</th>
        <th>Score By Letter</th>
      </tr>
      
      <% query.forEach((d2, nomor) => { %>
        <!-- <%= JSON.stringify(d2, null, 2) %> -->
      <tr>
        <td><%= nomor + 1 %></td>    
        <td><%= d2.Student.first_name + ' ' + d2.Student.last_name %></td>
        
        <% if (d2.score == undefined) { %>
          <td><a href="/subjects/<%= d2.SubjectId %>/givescore/<%= d2.StudentId %>">Give Score</a></td> 
        <% } else { %>  
          <td><%= d2.score %></td>
        <% } %>
        
        <% if (d2.score == undefined) { %>
          <td>empty</td>
        <% } else { %>  
          <td><%= d2.letterScore  %></td>
        <% } %>
        
      </tr>
      <% }) %>  
      
    </table>
  </body>
  <script>
  
function goBack() {
   window.history.back();
}
</script>
  
</html>