<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>students</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <!-- <%= JSON.stringify(subjects, null, 2) %> -->
    <h2 align="center">SUBJECTS DATA</H2>
    <h5 align="center"><button class="btn btn-success" id="hyper" type="button" onclick="location.href='/subjects/add'">ADD New Subject</button></h5>
    <p></p>
    <table class="table table-hover">
      <tr>
        <th>No.</th>
        <th>Subject Name</th>
        <th>Teacher's</th>
        <th>ACTION</th>
      </tr>
      <% subjects.forEach((subject, nomor) => { %>
        <!-- <%= JSON.stringify(subject) %> -->
      <tr>
        <td><%= nomor + 1 %></td>    
        <td><%= subject.subject_name %></td>
        <td>
          <ol>
            <% subject.Teachers.forEach(teacher => { %>   
              <!-- <%= JSON.stringify(teacher) %> -->
              <li><%= teacher.first_name + ' ' + teacher.last_name %></li>
            <% }) %>
          </ol>
        </td>
        
        <td><a href="/subjects/edit/<%= subject.id %>">EDIT</a> || <a href="/subjects/delete/<%= subject.id %>" style="color:red" onclick="return confirm('Are you sure want to delete this record?')">DELETE</a></td> 
      </tr>
      <% }) %>
    </table>
  </body>
</html>