<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>encrolled student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <!-- <%= JSON.stringify(query) %> -->
    <!-- <p>============</p> -->
    <h2 align="center"><%= query[0].Subject.subject_name %></H2>
    <h5 align="center"><button class="btn btn-success" id="hyper" type="button" onclick="location.href='/subjects'">Return to Subject List</button></h5>
    <p></p>
    <table class="table table-hover">
      <tr>
        <th>No.</th>
        <th>Student Name</th>
        <th>Student Score</th>
      </tr>
      
      <% query.forEach((d2, nomor) => { %>
        <!-- <%= JSON.stringify(d2, null, 2) %> -->
      <tr>
        <td><%= nomor + 1 %></td>    
        <td><%= d2.Student.first_name + ' ' + d2.Student.last_name %></td>
        
        <% if (d2.score == undefined) { %>
          <td><a href="/subjects/<%= d2.SubjectId %>/givescore/<%= d2.StudentId %>">Give Score</a></td> 
        <% } else { %>  
          <td><%= d2.score %></td>
        <% } %>
      </tr>
      <% }) %>  
      
    </table>
  </body>
  <script>
  
function goBack() {
   window.history.back();
}
</script>
  
</html>